<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset_password</title>
</head>
<body>
<h1> login demo page</h1>

<form method="post">
    {% csrf_token %}
        <input type="text" name="username"  placeholder="username">
        <input type="email" name="email"  placeholder="email">
    <input type="password" name="password1"   placeholder="new password">
    <input type="password" name="password2" placeholder="retype password">
    <input type="submit">
</form>
{% for message in messages %}
<h1> {{message}}</h1>
{% endfor %}
</body>
</html>